@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix_Umbraco.ViewModels
@{
    var content = (ContentModels.AboutCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutCallbackSettings;
    var formVM = new CallbackFormViewModel
    {
        Options = settings?.CallbackRequestOptions ?? []
    };
}

<section class="py-[4rem]">
    <div class="max-w-7xl mx-auto px-4 flex flex-col lg:flex-row gap-10">

        <div class="flex flex-col lg:w-7/12">
            <div class="rte aboutUs">
                @Html.Raw(content.AboutCallbackSectionBody)
            </div>
        </div>
        
       


        <div class="w-full lg:w-5/12 shadow-md lg:-mt-32 z-[99]">
            <div class="bg-primary">
                <p class="text-white py-[1.5rem] px-[2rem] text-[1.875rem] font-bold">@content.FormTitle</p>

            </div>

            <p class="text-sm bg-neutral py-[1.5rem] px-[2rem] italic">@content.AboutCallbackFormDescription</p>
            @{ ViewData["IsContactPage"] = false; }
            <partial name="Partials/Forms/_CallbackForm" model="formVM" view-data="ViewData" />

            @if(TempData["FormSuccess"] != null)
            {
                <div class="bg-green-50 text-green-700 p-4 mx-[2rem] mb-4 rounded-md">
                    @TempData["FormSuccess"];
                </div>
            }
            else if(TempData["FormError"] != null)
            {
                <div class="bg-red-50 text-red-700 p-4 mx-[2rem] mb-4 rounded-md">
                    @TempData["FormError"];
                </div>
            }
            

        </div>
    </div>

</section>